/*
body *{
	font-family:monospace;
}
*/
fieldset{
	width: auto;
}
#upload-xvf-input{
	display:none
}
input[type='file']{
	width: 190px;
}
.successful{
	color: darkgreen;
}
legend{
	font-weight: bold;
}