/*
body *{
	font-family:monospace;
}
*/
fieldset{
	width: auto;
}
#upload-xvf-input{
	display:none
}
input[type='file']{
	width: 190px;
}
input[pattern]:invalid{
	border: red solid 3px;
}
input[pattern]:valid{
	border: green solid 3px;
}
.successful{
	color: darkgreen;
}
legend{
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
.one-tab{
	padding-left: 20px;
}
.one-tab-bold{
	padding-left: 20px;
	font-weight: bold;
}
.two-tabs{
	padding-left: 40px;
}
.two-tabs-bold{
	padding-left: 40px;
	font-weight: bold;
}
caption{
	font-weight: bold;
	color: black;
}
h6{
	font-weight: bold;
}
ul{
	list-style-type: none;
}
li{
	margin-bottom: 1rem;
}
div.d-inline-flex{
	margin-bottom: 4px;
}
/*form[data-menu='1'] */div.d-inline-flex input.form-control {
	min-width: 300px;
}